<div class="question-container" [ngClass]="{'flash': question.justAdded}"> <!-- xxxs if user -->

  <!-- Question info -->
  <div class="left-align-text">
    <p>City: {{question && question.city}}</p>
    <p>{{question && question.date | date:'short'}}</p>
  </div>
  <hr />
  <div *ngIf="question.creator" class="card-img-container" [ngStyle]="{'background-image': 'url(' + picUrl + question.creator.pic_path + ')'}">
  </div>
  <div *ngIf="!question.creator" class="card-img-container" [ngStyle]="{'background-image': 'url(' + picUrl + '/images/profile-default.jpg)'}">
  </div>
  <p *ngIf="question.creator" class="username-text">Asked by: {{question.creator && question.creator.username}}</p>
  <p *ngIf="!question.creator" class="username-text">Asked by: Anonymous</p>
  <h3>{{question && question.content}}</h3>

  <!-- Add answer -->
  <form (ngSubmit)="submitAnswerForm(myForm)" #myForm="ngForm" novalidate>
    <div class="input-wrapper">
      <input type="text" name="answer" #myContent="ngModel" [(ngModel)]="newAnswer.content" placeholder="Enter answer here..." minlength="6" required/>
      <p class="validation" *ngIf="submitted && myContent.invalid && myContent.errors.required">Please enter some content</p>
      <p class="validation" *ngIf="submitted && myContent.invalid && myContent.errors.minlength">Answer must be at least 6 characters</p>
    </div>
    <button class="submit-button" type="submit">Submit Answer</button>
  </form>

  <div class="star-container-question" matTooltip="Star this question!" matTooltipPosition="above" (click)="handleAddQuestionStar(question._id)">
    <i class="fa fa-star-o" aria-hidden="true" ></i> <!-- xxx user.questions.indexOf(question._id) !== -1 -->
    <i class="fa fa-star hidden" aria-hidden="true" ></i>
    <p>{{question.stars}}</p>
  </div>


  <!-- View answers -->
  <button (click)="toggleAnswerList()">View Answers ({{question.answers.length}})</button>
  <div class="answer-container" [ngClass]="{'visible': visibleAnswers}">
    <div class="answers" *ngFor="let answer of question.answers">
      <div class="star-container-answer" matTooltip="Star this answer!" matTooltipPosition="above" (click)="handleAddAnswerStar(question._id, answer._id)">
        <i class="fa fa-star-o" aria-hidden="true" [ngClass]="{'hidden': answer._id}"></i>
        <i class="fa fa-star" aria-hidden="true" [ngClass]="{'hidden': answer._id}"></i>
        <p>{{answer.stars}}</p>
      </div>
      <p class="answer-text">{{answer.content}}</p>
      <hr />
    </div>
  </div>

</div>
