

hr {
  margin: 20px 0;
}

.container {
  padding: 20px 0;
}

@media only screen and (min-width: 762px) {

  .question-list-container {
    text-align: center;
    /*width: 70%;*/
    margin: 0 auto;
  }

}

@media only screen and (min-width: 1224px) {

}
