  <div class="container">
    <div class="question-list-container">
      <app-question-form (notifyNewQuestion)="receiveNewQuestion($event)"></app-question-form>

      <div class="search-bar-container">
        <ng4geo-autocomplete [userSettings]="userSettings2" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
      </div>

      <md-select placeholder="Sort by..." [(ngModel)]="selectedCategory">
         <md-option *ngFor="let item of items" [value]="item" (click)="filter(item)">{{item}}</md-option>
      </md-select>

      <ul class="question-container">
        <li *ngFor="let question of questionList">
          <app-question-card [question]="question"></app-question-card>
        </li>
      </ul>

    </div>
  </div>
