
hr {
  margin: 20px 0;
}

.container {
  padding: 20px 0;
}

.mat-select {
  margin-bottom: 20px;
}


@media only screen and (min-width: 762px) {


  .question-list-container {
    text-align: center;
    margin: 0 auto;
  }

  .search-bar-container {
    text-align: left;
    width: 50%;
    margin-top: 10px;
  }

  .mat-select {
    width: 50%;
    text-align: left;
  }
}

@media only screen and (min-width: 1224px) {

}
