<button (click)="toggleQuestionForm()" class="question-button">Ask new Question</button>

<form class="question-form" [ngClass]="{'visible': visibleForm}" (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
  <div>
    <input type="text" name="content" #myContent="ngModel" [(ngModel)]="newQuestion.content" placeholder="Enter question..." required>
  </div>
  <div class="city-input" *ngIf="showInput">
    <ng4geo-autocomplete [userSettings]="userSettings2" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
  </div>
  <div>
    <input class='hidden' type="text" name="city" [(ngModel)]="newQuestion.city" placeholder="Enter City..." required>
  </div>
  <button class="submit-button" type="submit">Submit Question</button>
</form>
