<div *ngIf="!user">
  ...
</div>

<div *ngIf="user" class="profile-container">

  <h2>Welcome, {{user.username}}!</h2>

  <div class="profile-img-container" [ngStyle]="{'background-image': 'url(' + picUrl + user.pic_path + ')'}"></div>

    <form class="update-user" (ngSubmit)="handleUpdateUserForm(myForm)" #myUserForm="ngForm" novalidate [ngClass]="{saving: saving}">
      <label for="file-upload" class="custom-file-upload">
        Choose New Picture
      </label>
      <input id="file-upload" type="file" name="file" ng2FileSelect [uploader]="uploader" [disabled]="saving" />
      <button type="submit" name="button" [disabled]="saving">Save Picture</button>
    </form>

    <h3>My questions</h3>

    



    <button type="button" name="button" (click)="logout()">Logout</button>


</div>
