
.profile-container {
  padding: 0 10px;
  text-align: center;
}

#file-upload {
  display: none;
}

.custom-file-upload, .profile-container button {
  width: 100px;
  display: inline-block;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  border: 1px solid rgb(187, 187, 187);
  color: rgb(187, 187, 187);
  border-radius: 5px;
  padding: 5px 0;
  background: white;
  font-size: 1rem;
}

.update-user {
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.custom-file-upload:hover, .profile-container button:hover {
  cursor: pointer;
}

.profile-container h2 {
  font-size: 3rem;
  text-align: center;
  margin: 30px 0 10px 0;
}

.profile-img-container {
  min-width: 250px;
  min-height: 250px;
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}



@media only screen and (min-width: 762px) {
  .custom-file-upload, .profile-container button {
    width: 200px;
    display: inline-block;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    border: 1px solid rgb(187, 187, 187);
    color: rgb(187, 187, 187);
    border-radius: 5px;
    padding: 5px 0;
    background: white;
    font-size: 1rem;
  }
}
