h3, p {
  font-family: 'Nunito', sans-serif;
}

.playlist-container {

}

.playlist-container h3, .playlist-container p {
  /*line-height: 40px;*/
}

.playlist-container hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dbdbdb;
  margin: 5px 0;
  padding: 0;
}

.song-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    background-color: #f9f9f9;
    height: 80px;
    width: 600px;
    margin: 20px auto;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
  }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 0 10px;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    width: 90%;
    }

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 0 20px;
    }
