


<div class="playlist-container">

  <div class="song-container">
    <img class="flex-item" src="/assets/images/play-button.png" alt="">
    <div class="song-info flex-item">
      <h3>Xandra</h3>
      <hr />
      <p>Immerse</p>
    </div>
    <img class="tongue flex-item" src="/assets/images/tongue.png">
  </div>

  <div class="song-container">
    <img class="flex-item" src="/assets/images/play-button.png" alt="">
    <div class="song-info flex-item">
      <h3>Xandra</h3>
      <hr />
      <p>Immerse</p>
    </div>
    <img class="tongue flex-item" src="/assets/images/tongue.png">
  </div>

  <div class="song-container">
    <img class="flex-item" src="/assets/images/play-button.png" alt="">
    <div class="song-info flex-item">
      <h3>Xandra</h3>
      <hr />
      <p>Immerse</p>
    </div>
    <img class="tongue flex-item" src="/assets/images/tongue.png">
  </div>

</div>
