<header>


    <div class="container">

    <div class="header-container">

    <a [routerLink]="['/home']">
      <div class="logo">
        <img class="logo-img" src="/assets/images/cityscape.png">
        <h1>EXPACITY</h1>
      </div>
    </a>

    <img (click)="toggleMenu()" class="burger-menu-icon" src="/assets/images/menu-options.png">

      <div class="nav-search-bar-container">
        <ng4geo-autocomplete [userSettings]="userSettings2" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
      </div>


      <div class="auth-top-header">
        <a *ngIf="!user" [routerLink]="['/auth/login']"><p>Login / Signup</p></a>
        <a *ngIf="user" [routerLink]="['/profile']"><p>My Account</p></a>
      </div>

    </div>
  </div>

  <nav class="bottom-nav" [ngClass]="{'visible': toggle}">
    <div class="container">
    <ul>

    <a class="burger-auth-link" [routerLink]="['/auth/login']" (click)="toggleMenu()">
      <li class="bottom-nav-item">
        <p>Login</p>
      </li>
    </a>

    <a class="burger-auth-link" [routerLink]="['/auth/signup']" (click)="toggleMenu()">
      <li class="bottom-nav-item">
        <p>Sign up</p>
      </li>
    </a>

    <a [routerLink]="['/citysearch']" (click)="toggleMenu()">
      <li class="bottom-nav-item">
        <p>View City Stats</p>
      </li>
    </a>

    <a [routerLink]="['/compare']" (click)="toggleMenu()">
      <li class="bottom-nav-item">
        <p>Compare Cities</p>
      </li>
    </a>

    <a [routerLink]="['/forum']" (click)="toggleMenu()">
      <li class="bottom-nav-item">
        <p>Forum</p>
      </li>
    </a>

    <a [routerLink]="['/about']" (click)="toggleMenu()">
      <li class="bottom-nav-item">
        <p>About</p>
      </li>
    </a>

  </ul>
    </div>
  </nav>

</header>
