<header>


    <div class="container">

    <div class="header-container">

    <a [routerLink]="['/home']">
      <div class="logo flex-item">
        <img src="/assets/images/cityscape.png">
        <h1>EXPACITY</h1>
      </div>
    </a>


      <div class="nav-search-bar-container flex-item">
        <ng4geo-autocomplete [userSettings]="userSettings2" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
      </div>

      <div class="flex-item auth-top-header">
        <p>Login / Signup</p>
      </div>
      <img (click)="toggleMenu()" class="burger-menu-icon" src="/assets/images/menu-options.png">

    </div>
  </div>

  <nav class="bottom-nav" [ngClass]="{'visible': toggle}">
    <div class="container">
    <ul>

    <a [routerLink]="['/citysearch']">
      <li class="bottom-nav-item">
        <p>View City Stats</p>
      </li>
    </a>

    <a [routerLink]="['/compare']">
      <li class="bottom-nav-item">
        <p>Compare Cities</p>
      </li>
    </a>

    <a [routerLink]="['/toptens']">
      <li class="bottom-nav-item">
        <p>Top 10s</p>
      </li>
    </a>

    <a [routerLink]="['/forum']">
      <li class="bottom-nav-item">
        <p>Forum</p>
      </li>
    </a>

  </ul>
    </div>
  </nav>

</header>
