.header-image {
  height: 200px;
  background: #C9FFBF;
  background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.header-text {
  height: 200px;
  text-align: center;
}

.header-image h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: white;
  line-height: 180px;
  font-size: 4rem;
}

.top-ten-container {
  padding: 10px 0;
}


@media only screen and (min-width: 762px) {
  .splash-image {
    height: 700px;
    background-position: center;
  }

  .header-text {
    height: 200px;
  }

  .header-text h2 {
    font-size: 5rem;
  }

}
