.city-header h2, .city-header h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  position: relative;
  top: 80px;
}

.city-header h2 {
  font-size: 3rem;
}

.city-header h3 {
  font-size: 2rem;
  margin-top: 10px;
}

.main-stats {
  margin-top: 15px;
  text-align: center;
}

.city-image {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.city-header {
  background-color: rgba(4, 255, 0, 0.2);
  height: 300px;
  text-align: center;
}

.stat-container {
  padding: 15px 10px;
  margin-bottom: 40px;
}

.stat-container img {
  margin: 15px 0 35px 0;
  max-width: 170px;
}

.stat-container hr {
  width: 20px;
  margin: 40px auto 30px auto;
  border: none;
  height: 2px;
  color: #333;
  background-color: #333
}

.data {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.stat-container p {
  margin-bottom: 20px;
}

.info-box {
  background-color: #f7f7f7
}

.climate-info h3 {
  text-align: center;
  padding: 30px 0;
  font-size: 3rem;
}


/*Media query stuff -------------------------------------------------------------------------*/



@media only screen and (min-width: 762px) {
  .main-stats {
    display: flex;
    justify-content: space-around;
  }

  .city-header h2 {
    font-size: 6rem;
  }

  .city-header h3 {
    font-size: 4rem;
    margin-top: 10px;
  }

  .city-header h2, .city-header h3 {
    top: 40px;
  }
}


/*.city-header h2, .city-header h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  position: relative;
  top: 50px;
}

.city-header h2 {
  font-size: 6rem;
}

.city-header h3 {
  font-size: 3rem;
  margin-top: 10px;
}

.main-stats {
  margin-top: 15px;
  text-align: center;
  display: flex;
}

.city-image {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.city-header {
  background-color: rgba(0,0,0,0.4);
  height: 300px;
  text-align: center;
}

.stat-container {
  padding: 15px 0;
  width: 33%;
  display: inline-block;
}

.stat-container img {
  margin: 15px 0;
  max-width: 200px;
}

.stat-container hr {
  width: 10%;
  margin: 40px auto 30px auto;
  border: none;
  height: 2px;
  color: #333;
  background-color: #333
}

.data {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.stat-container p {
  margin-bottom: 20px;
}

.info-box {
  height: 500px;
  background-color: #f7f7f7
}*/
