
<div class="city-image" [ngStyle]="{'background-image': 'url(' + photoURL + ')'}">
  <div class="city-header">
    <h2>{{city}}</h2>
    <h3>{{country}}</h3>
  </div>
</div>

<div class="container">

  <!-- <h2>City information</h2>
  <hr /> -->

  <div class="main-stats">
    <div class="stat-container">
      <img src="/assets/images/joy.png">
      <h3>Quality of life index</h3>
      <hr />
      <p><span class="data">{{qualityOfLifeIndex}}</span></p>
    </div>
    <div class="stat-container">
      <img src="/assets/images/home.png">
      <h3>Property price / income ratio</h3>
      <hr />
      <p><span class="data">{{propPriceIncomeRatio}}</span></p>
    </div>
    <div class="stat-container">
      <img src="/assets/images/coins.png">
      <h3>Cost of living index</h3>
      <hr />
      <p><span class="data">{{costOfLivingIndex}}</span></p>
    </div>
  </div>

</div>


<div class="climate-info">
  <div class="container">
    <h2>Climate info</h2>
    <ng-container *ngIf="climateInfo">
      <app-climate-graph [climateInfo]="climateInfo"></app-climate-graph>
    </ng-container>
  </div>
</div>

<div class="price-info">
  <div class="container">
    <h2>Average Prices</h2>
    <div class="price-item-container" *ngFor="let item of priceItems">
      <img src={{item.photo}}>
      <h3>{{item.name}}</h3>
      <p>{{item.price}} {{currency}}</p>
    </div>
  </div>
</div>

<div class="questions-box">
  <div class="container">
    <h2>Questions</h2>
  </div>
</div>
