
<div class="city-image" [ngStyle]="{'background-image': 'url(' + photoURL + ')'}">
<!-- <div class="city-image" [ngStyle]="{'background-image': 'url(' + photoURL + ')'}" parallax [config]="{initialVal: -100, ratio: 0.5}"> -->
  <div class="city-header">
    <h2>{{city}}</h2>
    <h3>{{country}}</h3>
  </div>
</div>

<div class="container">

  <div class="main-stats">
    <div class="stat-container">
      <img src="/assets/images/joy.png">
      <h3>Quality of life index<i class="fa fa-info-circle" aria-hidden="true" mdTooltip="Quality of Life Index is an estimation of overall quality of life by using an empirical formula which takes into account purchasing power index, pollution index, house price to income ratio, cost of living index, safety index, health care index, traffic commute time index and climate index" matTooltipPosition="above"></i></h3>
      <hr />
      <p><span class="data">{{qualityOfLifeIndex}}</span></p>
    </div>
    <div class="stat-container">
      <img src="/assets/images/home.png">
      <h3>Property price / income ratio<i class="fa fa-info-circle" aria-hidden="true" mdTooltip="Basic measure for apartment purchase affordability (lower is better). It is generally calculated as the ratio of median apartment prices to median familial disposable income, expressed as years of income." matTooltipPosition="above"></i></h3>
      <hr />
      <p><span class="data">{{propPriceIncomeRatio}}</span></p>
    </div>
    <div class="stat-container">
      <img src="/assets/images/coins.png">
      <h3>Cost of living index<i class="fa fa-info-circle" aria-hidden="true" mdTooltip="Number relative to New York, which is 100%. Higher means more expensive, lower means less expensive." matTooltipPosition="above"></i></h3>
      <hr />
      <p><span class="data">{{costOfLivingIndex}}</span></p>
    </div>
  </div>

</div>


<div class="climate-info">
  <div class="container">
    <h2>Climate info</h2>
    <ng-container *ngIf="climateInfo">
      <app-climate-graph [climateInfo]="climateInfo"></app-climate-graph>
    </ng-container>
  </div>
</div>

<div class="price-info">
  <div class="container">
    <h2>Average Prices</h2>
    <div class="price-item-container" *ngFor="let item of priceItems">
      <img src={{item.photo}}>
      <h3>{{item.name}}</h3>
      <p>{{item.price}} {{currency}}</p>
    </div>
  </div>
</div>

<div class="questions-box">
  <div class="container">
    <h2>Questions</h2>
    <app-question-form [city]="city" [showInput]="showInput"></app-question-form>
    <p *ngIf="questionList && questionList.length === 0">No questions have been asked for this city yet!</p>
    <ul class="question-container">
      <li *ngFor="let question of questionList">
        <app-question-card [question]="question"></app-question-card>
      </li>
    </ul>
  </div>
</div>
