.city-header h2, .city-header h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  position: relative;
  top: 50px;
}

.city-header h2 {
  font-size: 6rem;
}

.city-header h3 {
  font-size: 3rem;
  margin-top: 10px;
}

.main-stats {
  margin-top: 15px;
  text-align: center;
}

.main-stats hr {
  width: 30%;
  margin-top: 10px;
}

.city-image {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.city-header {
  background-color: rgba(0,0,0,0.4);
  height: 300px;
  text-align: center;
}

.stat-container {
  padding: 15px 0;
  width: 33%;
  display: inline-block;
}

.stat-container img {
  margin: 15px 0;
  max-width: 200px;
}
