.site-footer {
  text-align: center;
  /*padding-bottom: 20px;*/
}

.site-footer hr {
  width: 30px;
  /*margin: 20px auto;*/
}

.footer-logo {
  width: 250px;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  margin: 0 auto;
  font-family: 'Nunito', cursive;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
}

.footer-img {
  max-width: 20px;
  display: inline-block;
}

.footer-logo p {
  display: inline-block;
}

.img-container {
  display: inline-block;
}
