.header-image {
  height: 100px;
  background: #A1FFCE;
  background: -webkit-linear-gradient(15deg, #FAFFD1, #A1FFCE);
  background: linear-gradient(15deg, #FAFFD1, #A1FFCE);


}

.header-text {
  height: 100px;
  text-align: center;
}

.header-image h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  color: white;
  line-height: 100px;
  font-size: 4rem;
}

.top-ten-container {
  padding: 10px 0;
}

.hidden {
  display: none;
}


@media only screen and (min-width: 762px) {

  .header-text {
    height: 150px;
  }

  .header-text h2 {
    font-size: 5rem;
  }

  .header-image {
    height: 150px;
  }

  .header-image h2 {
    line-height: 150px;
  }

}
