<div class="splash-image" parallax [config]="{initialVal: -100, ratio: 0.4}">
  <div class="splash-header">
    <div class="splash-text-container">
    <h2>Thinking of moving city?  </h2>
      <!-- <h3>We make it easy to view and compare stats and ask questions about your chosen destination</h3> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="info-text">

  <h2>We're here to help</h2>
  <hr>
  <h3>Search for any city in the world to view stats, compare with other cities and ask questions to make your move as informed as possible.</h3>
  </div>
</div>
<!--
<div class="section">

</div> -->

<!-- <div class="parallax-img-1" parallax [config]="{initialVal: 0, ratio: 0.5}"></div> -->



<!-- <app-auth-signup></app-auth-signup>

<app-auth-login></app-auth-login>


<app-auth-user></app-auth-user> -->
