<div class="splash-image" parallax [config]="{initialVal: -100, ratio: 0.4}">
  <div class="splash-header">
    <div class="splash-text-container">
    <h2>Thinking of moving city?  </h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="info-text">

  <h2>We're here to help</h2>
  <hr>
  <h3>Search for any city in the world to view stats, compare with other cities and ask questions to make your move as informed as possible.</h3>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2>Popular Cities</h2>
    <div class="cities-container">
      <div class="city-item-container" *ngFor="let city of cityItems" [ngStyle]="{'background-image': 'url(' + city.photo + ')'}" >
        <a [routerLink]="['/cities/' + city.name.trim()]"><h3>{{city.name}}</h3></a>
      </div>
    </div>
  </div>
</div>
