.splash-image {
  background-image: url(https://static.pexels.com/photos/196667/pexels-photo-196667.jpeg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 60%;
  background-size: cover;
}

.splash-header {
  background-color: rgba(4, 255, 0, 0.05);
  height: 500px;
  text-align: center;
}

.splash-header h2, .splash-header h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: white;
  position: relative;
  top: 70px;
}

.splash-header h2 {
  font-size: 3rem;
}

.splash-header h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.splash-text-container {
  width: 80%;
  margin: 30px auto;
}




@media only screen and (min-width: 762px) {
  .splash-image {
    height: 700px;
    background-position: center;
  }

  .splash-header {
    height: 700px;
  }

  .splash-header h2 {
    font-size: 5rem;
  }

  .splash-header h3 {
    font-size: 2rem;
    margin-top: 10px;
  }

  .splash-text-container {
    width: 600px;
    margin: 30px auto;
  }
}
